<div class='chatCont'>
    <h1>Chat con Websockets</h1>
        <div>
            <input id="chatBox">
    </div>
    <div class = "messageCont">
        <ul class = "ulMessage" id="messageLogs"></ul>
    </div>
</div>