<div>
    <div id="titleCont">
        <h1>{{mensaje}} </h1>
    </div>
    <button id="logout">Logut</button>
    <div id="userBar" class="userBar"></div>
    <div class='homeProdCont' id="prodCont"></div>
</div>
