<div>
    <div id="titleCont">
        <h1>{{mensaje}} </h1>
    </div>
    <div class='prodCont' id="prodCont">
    </div>
     <form id="addProduct">
        <div class="form-group">
        <label for="titulo">Title:</label>
        <input type="text" class="form-control" id="titulo" name="title"><br>
        </div>
        <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description"><br>
        </div>
        <div class="form-group">
        <label for="code">Code:</label>
        <input type="text" class="form-control" id="code" name="code"><br>
        </div>
        <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price"><br>
        </div>
        <div class="form-group">
        <label for="status">Status</label>
        <input type="boolean" class="form-control" id="status" name="status"><br>
        </div>
        <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" class="form-control" id="stock" name="stock"><br>
        </div>
        <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" name="category"><br>
        </div>
        <div class="form-group">
        <label for="thumbnails">Thumbnails</label>
        <input type="text" class="form-control" id="thumbnails" name="thumbnails"><br>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
        
</div>
